datasets
sentence-transformers
faiss-cpu
transformers
accelerate
huggingface-hub
langchain
langchain-community
langchain-core
requests
chromadb
langgraph
torch
tqdm
pandas
numpy
fastapi
uvicorn